img.mainimg {
  width: 100%;
}
h2 {
  margin: 0;
  margin-left: 16px;
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
}
h5 {
  float:left;
  font-family: monospace;
  margin: 0;
  margin-left: 4px;
}
body {
  margin-left: 15%;
  margin-right: 15%;
}
p.instructions{
  font-family: serif;
}
.logo-main{
  float: left;
}
table{
  background-image: url("assets/list-bg.png");
  font-size: 20px;
  width: 90%;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  color: saddlebrown;
  padding-top: 33px;
  padding-bottom: 50px;
}
td{
  padding-left: 70px;
  vertical-align: top;
}
#bad-fix{
  padding-right: 40px;
}
header{
  border-bottom-width: initial;
  border-bottom-style: dashed;
  padding-bottom: 45px;
}
h1 {
  margin-bottom: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
}
h4 {
  margin-top: 0;
  font-family: monospace;
  color: #777;
}
.soc-media {
  float: right;
  padding: 1px;
}
#icon-sep{
  padding-left: 12px;
}
.struck {
  text-decoration: line-through;
}
.print-button{
  font-family: monospace;
  color: #888;
  float: right;
}
main {
  padding-bottom: 45px;
  border-bottom-width: initial;
  border-bottom-style: dashed;
}
.author-pic {
  float:left;
  padding-right: 15px;
}
h3 {
  font-weight:1000;
  font-family: serif;
}
.auth-descrip{
  width = 75%;
  padding-bottom: 75px;
}
.share-button{
  float:right;
  padding: 20px 40px;
  background-color: brown;
  color: white;
}
.logobottom {
  position: absolute;
  top:1536px;
  left: 48%;
  padding: 5px;
}
h6 {
  text-align: center;
  width: 100%;
  border-top-style: solid;
  padding-top: 25px;
  color: #999;
  border-color: #999;
}
